#main {
  width: 500px;
}
.dishname {
  display: grid;
  grid-template-columns: 15fr 1fr 1fr;
  vertical-align: text-top;
  /* justify-items: center; */
  align-items: center;
  background-color: rgb(209, 209, 209);
  width: 500px;
  grid-auto-rows: minmax(auto, auto);
  margin: 0px;
}
.price {
  display: grid;
  text-align: end;
  justify-items: end;
}
.dishname:nth-child(odd) {
  background-color: rgb(197, 197, 197);
}
